<% content_for :title, "New promotion assert" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New promotion assert</h1>

  <%= render "form", promotion_assert: @promotion_assert %>

  <%= link_to "Back to promotion asserts", promotion_asserts_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
