<div id="<%= dom_id subject %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= subject.slug %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= subject.name %>
  </p>
</div>
