<div class="max-w-md mx-auto p-6 bg-white rounded shadow">
  <p class="text-xl font-bold text-gray-800 mb-4">Hello <%= @email %>!</p>

  <% if @resource.try(:unconfirmed_email?) %>
    <p class="text-gray-700">
      We're contacting you to notify you that your email is being changed to
      <span class="font-semibold"><%= @resource.unconfirmed_email %></span>.
    </p>
  <% else %>
    <p class="text-gray-700">
      We're contacting you to notify you that your email has been changed to
      <span class="font-semibold"><%= @resource.email %></span>.
    </p>
  <% end %>
</div>
