<div id="<%= dom_id examination %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= examination.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Effective date:</strong>
    <%= examination.effective_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= examination.course_id %>
  </p>
</div>
